<section class="section--center mdl-grid">
  <div class="topics-card mdl-card mdl-cell mdl-shadow--2dp mdl-cell--6-col-desktop
                mdl-cell--4-col-tablet mdl-cell--4-col-phone compact-list">
    <div class="mdl-card__title mdl-color-text--white image-card-header-slider-5">
      <h2 class="mdl-card__title-text">Topics</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list">
        <li class="mdl-list__item mdl-button mdl-js-button mdl-js-ripple-effect" data-expansion="3">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">expand_less</i>
              <span>Synthesis, Processing, and Functionalization</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="S1">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>S1: Controlled synthesis and preparation</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="S2">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>S2: Purification, separation, sorting</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="S3">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>S3: Chemical modification and functionalization</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button mdl-js-button mdl-js-ripple-effect" data-expansion="2">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">expand_less</i>
              <span>Properties and Characterizations</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="C1">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>C1: Mechanical, electronic, optical properties</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="C2">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>C2: Characterization techniques</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button mdl-js-button mdl-js-ripple-effect" data-category="T">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>Theory and Simulation</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button mdl-js-button mdl-js-ripple-effect" data-expansion="4">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">expand_less</i>
              <span>Applications</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="A1">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>A1: Sensors and devices</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="A2">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>A2: Energy and environmental</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="A3">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>A3: Composites</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button compact-content
                   mdl-js-button mdl-js-ripple-effect hidden" data-category="A4">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>A4: Toxicology and biomedical applications</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button mdl-js-button mdl-js-ripple-effect" data-category="U">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>Scale-up for Industrialization</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-button mdl-js-button mdl-js-ripple-effect" data-category="O">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">more_horiz</i>
              <span>Other Topics</span>
            </span>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="section--footer"></section>
