
/* OK MDL gets substituted by MDC, but MDC seems to be in active development. */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.main-content .mdl__loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  z-index: 4;
}

.main-content .mdl__loader .mdl-loader__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}


/** DO NOT CHANGE THIS **/

.main-content .mdl-layout__header-row {
  padding-left: 40px;
}
.main-content .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.main-content .mdl-layout__tab-bar-button {
  display: none;
}
.main-content .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.main-content .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.main-content .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.main-content .mdl-layout__tab-bar-container {
  height: 56px;
}
.main-content .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: rgb(211,47,47);
}
.main-content .mdl-layout__tab-bar .mdl-layout__tab {
  height: 56px;
  line-height: 56px;
}
.main-content .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
/** END OF DO NOT CHANGE **/

.main-content .mdl-grid {
  padding: 0;
}

.main-content .mdl-grid.mdl-grid--no-spacing {
  border-radius: 10px;
  background: #FFFFFF;
}

.main-content .mdl-grid.mdl-grid--no-spacing header {
  border-radius: 10px;
}

.main-content .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
  background: none;
  border-radius: 10px;
}

.main-content .mdl-card .mdl-card__supporting-text {
  flex-grow: 1;
  padding: 20px;
  margin: 0;
  color: inherit;
  width: calc(100% - 40px);
  background: #FFFFFF;
}

.main-content .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
  background: #FFFFFF;
}

.main-content .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.main-content .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 24px;
}
.main-content .mdl-layout__content section:last-of-type {
  position: relative;
}
.main-content section.section--center {
  max-width: 860px;
}

.main-content section > header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content section > .section__play-btn {
  min-height: 200px;
}
.main-content section > header > .material-icons {
  font-size: 3rem;
}

.main-content section .fav-button {
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 8px;
  height: 32px; /* is that .mdl_card > * rule necessary? */
}

.main-content section .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
.main-content section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.main-content section .section__text a {
  text-decoration: none;
}

.main-content .section--footer {
  padding: 32px 0;
  margin: 0 -8px -8px -8px;
}
.main-content section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.main-content .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}

.main-content .mdl-layout__tab-panel {
  background-color: #F8F8F8;
}

/* Media queries */

@media all and (display-mode: standalone), all and (min-width: 840px)  {
  .main-content .non-standalone {
    display: none;
  }
}

@media (min-width: 480px) {

}

@media (min-width: 840px) {

  .main-content .mdl-layout__header {
    background: url("../images/pkucloud1h100.png") right no-repeat #94070A;
    background-size: auto 100%;
  }

  .main-content .mdl-grid:not(.mdl-grid--no-spacing) .mdl-cell--6-col-desktop:nth-of-type(2n+1) {
    width: calc(50% - 8px);
    margin-left: 0;
  }

  .main-content .mdl-grid:not(.mdl-grid--no-spacing) .mdl-cell--6-col-desktop:nth-of-type(2n) {
    width: calc(50% - 8px);
    margin-right: 0;
  }

  .main-content .mdl-grid:not(.mdl-grid--no-spacing) .mdl-cell--12-col-desktop {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

}


@media (max-width: 839px) {

  .main-content .mdl-grid.mdl-grid--no-spacing {
    width: calc(100% - 16px);
  }

  .main-content .mdl-layout__tab-bar {
    background: url("../images/pkucloud1h100.png") right no-repeat #94070A;
  }

  /* fuck inconsistency */
  /* used media query to substitute .is-small-screen */

  .main-content .mdl-layout--large-screen-only-override {
    display: none;
  }

}

@media (max-width: 479px) {

  .main-content .mdl-layout__tab-bar {
    background-size: auto 100%;
  }

  .main-content .mdl-card {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .main-content .NTLogo {
    margin-top: 30px;
    margin-bottom: 0;
  }

}

@media (max-width: 839px) and (min-width: 480px) {

  .main-content .mdl-layout__tab-bar {
    background-size: 50% auto;
  }

}


.main-content #schedule .mdl-list__item {
  height: auto;
  padding: 6px 16px;
}

.main-content #schedule .schedule-topics .mdl-list {
  margin: 0;
}

.main-content #schedule .schedule-topics .mdl-secondary-list .mdl-list__item {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  height: auto;
  min-height: 0;
  color: rgba(0, 0, 0, .54);
  display: block;
  padding: 0 16px;
}


.main-content .image-card-header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
}
